<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>882655142741-4geodpdteihi2hr9398ouah111ol7tvh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.882655142741-4geodpdteihi2hr9398ouah111ol7tvh</string>
	<key>API_KEY</key>
	<string>AIzaSyCa9DTFqpiEct4bPbfGp44qhkfOqZZGBRo</string>
	<key>GCM_SENDER_ID</key>
	<string>882655142741</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.iosdevschool.PiggyB</string>
	<key>PROJECT_ID</key>
	<string>piggyb-pro</string>
	<key>STORAGE_BUCKET</key>
	<string>piggyb-pro.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:882655142741:ios:e730db648d0038fe1505dc</string>
	<key>DATABASE_URL</key>
	<string>https://piggyb-pro.firebaseio.com</string>
</dict>
</plist>